* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 400px;
  max-height: 500px;
  padding: 10px;
  overflow: scroll;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  font-size: 2rem;
}

.row input {
  flex: 1;
  padding: 2px;
}

.btn {
  padding: 2px 5px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}
